.preview {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 0.85;
}

.table {
  width: 64px;
  box-shadow: var(--shadow);
}

.board {
  padding: 12px 32px;
  box-shadow: var(--shadow);
}
